@{
    ViewBag.Title = "Pic";
}

<h2>O projekcie</h2>
<p style="font-size:1.3em">
   PicRank to serwis stworzony przez grupę badawczą wydziału Matematyki i Informatyki zajmującą się oceną podobieństwa obrazów.
   Ma on pomóc zbudować referencyjny zbiór obrazów do siebie podobnych. <br />
   Drogi internauto jeżeli chcesz nam pomóc to zapraszam do gry, wystarczy kilkać na obrazy twoim zdaniem najbardziej podobne do zaprezentowanego. <br />
   <br />
   @Html.ActionLink("Rozpocznij zabawę","Play","Game")

</p>


